{{#partial "principal" }}


<div class="bg-gris py-2 align-items-center text-white">
  <ol class="breadcrumb justify-content-center">
    <li class="breadcrumb-item text-white "><a href="/home" id="subrayado" class="nav-link text-white">Home</a></li>
    <li class="text-white text-decoration-none mx-2"> > </li>
    <li class="breadcrumb-item text-white" aria-current="page">Entidades</li>
  </ol>
</nav>
</div>


        <h2 class="text-center my-4">Entidades</h2>


<div class="container d-flex justify-content-center align-items-center">
{{#entidades}}
<div class="card mx-4 border border-secondary border-2 rounded-2" style="width: 15rem;">
  <img src={{img}} class="card-img-top" alt="logo">
  <div class="card-body justify-content-center align-items-center text-center">
    <h5 class="card-title">{{razonSocial}}</h5>
    <p class="card-text">{{descripcion}}</p>
    <a href="entidades/{{id}}" class="btn btn-warning">Establecimientos</a>
  </div>
</div>
{{/entidades}}
</div>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}