{{#partial "principal" }}
    <div class="background-overlay">
        <div class="columna-index presentacion">
            <div>
                <h1>Servi Trouble</h1>
                <p>
                    Nuestra plataforma permite a la comunidad
                    informar y superar obstaculos,
                    mejorando la accesibilidad y calidad de vida para todos.
                    Unete a nosotros para construir un entorno urbano
                    mas inclusivo y amigable.
                </p>
                <a href="/login"><button type="button" class="btn btn-warning">Iniciar Sesión</button></a>
            </div>
        </div>
        <div class="columna-index image-container">
            <img src="landing-effect.jpg" style="width: 100%;" class="img-fluid" alt="estacion">
        </div>
    </div>
{{/partial}}

{{> layout.html.hbs }}