<html>

<head>
	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
   	<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar bg-azul">
	    <div class="container-fluid">
           <a class="navbar-brand text-white" href="/">
               <img src="/logo.png" alt="logo"  width="30" height="24" class="d-inline-block align-text-top">
               SERVITROUBLE
           </a>
           <div class="d-flex">
               <a href="/profile" type="button" class="btn btn btn-outline-warning text-white mx-2">Mi Perfil</a>
               <a href="/sesion" type="button" class="btn btn-outline-warning text-white mx-2">Cerrar Sesión</a>
            </div>
        </div>
    </nav>



	<main>

     {{#block "principal" }}
     {{/block}}

	</main>
	<footer class="text-center text-white bg-azul">
		<div class="text-center "> © {{anio}} Copyright</div>
	</footer>
</body>

</html>
