{{#partial "principal" }}

<h1 class="text-center">COMUNIDAD</h1>
<div class="container d-flex justify-content-center align-items-center">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <ul>
                {{#comunidad}}
                    <li><a><span style="font-weight: bold">Nombre:</span> {{nombre}}</a></li>
                    <li><span style="font-weight: bold">Miembros:</span> <a href="/administrar-comunidad/{{id}}/miembros">Administrar miembros</a></li>
                    <li><a><span style="font-weight: bold">
                    Servicio de Interés:</span>
                    {{#serviciosDeInteres}}
                       <li>{{nombre}}</li>
                    {{/serviciosDeInteres}}
                {{/comunidad}}
        </ul>
    </div>
</div>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}