@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');




.paginationCustom{
  --bs-pagination-hover-bg: #448af2;
  --bs-pagination-hover-color: white;
}

.bg-azul{
  background: #5D77A3;
}

.bg-celeste{
  background: #7590BF;
}


.bg-gris{
  background: #565C66;
}

.bg-marron{
  background: #8B774C;
}

.bg-claro{
  background: #E4E8F0;
}

.btn-amarillo{
  background: #E0A72F;
}

.btn-outline-amarillo, .btn-warning{
  border-color: #E0A72F;
}

.btn-outline-warning:hover{
  background: #E0A72F;
}

.row-incidentes{
  background-color: transparent;

}

/* Ajusta el tamaño de las tarjetas para que se expandan horizontalmente */
.card-incidente {
  width: 16rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-body {
  min-height: 9rem;
}

.card-incidente:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.card-incidente:active{

}

.table-bordered.custom {
  border: 4px solid #dee2e6;
  border-radius: 12px;
}

.table-bordered.custom th,
.table-bordered.custom td {
  border: 4px solid #dee2e6;
}

.container-rankings{
  margin-top: 50px;
}

footer {
  width: 100%;
  height: 30px;
  color: white;
  /*margin-top: auto;*/
  text-align: center;
}

body{
  margin:0;
  border: 10px solid red;
  /*padding-bottom: 3rem;*/
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /*
  flex-direction: column;
  position: relative;*/
}

@media screen and (max-height: 100vh) and (orientation: landscape){
  body {
    height: 100vh;
  }
}

@media only screen and (orientation: landscape){

  body {


  }

    main{
        position: relative;
        top: 0;
        left: 0;
        min-height: 140vh;
    }

/*
    .layout-logeado{
        min-height: auto;
    }
*/
  .background-overlay{
    display: flex;
    background-color: #FFF;
    height: 100%;
  }

  .columna-index{
    flex: 1;
  }

  .presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .image-container {
    display: flex;
    align-items: stretch;
  }

  .image-container img {
    width: auto;
    height: 100%;
    object-fit: fill; /* Ajustar la imagen manteniendo la proporción */
  }

  .image-container button {
    position: absolute;
    top: 85%; /* Ajusta la posición verticalmente */
    left: 8.5%; /* Ajusta la posición horizontalmente */
  }

  footer {
    width: 100%;
    height: 30px;
    color: white;
    margin-top: 20px;
  }

  #subrayado:hover {
    text-decoration: underline;
  }

  .incidente-card{
    width: 16rem;
  }


}