body {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

h1 {
 font-weight: 300;
}

h2 {
 font-weight: 300;
}


footer {
  position: absolute;
  bottom: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 15px;
}

.login-button {
      background-color: #FF5733;
      color: #fff;
      padding: 10px 20px;
      margin-left: 1000px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }

.navbar ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
    }

.navbar li {
          margin-right: 20px;
    }