{{#partial "principal" }}

<h1>MIS COMUNIDADES</h1>

<ul>
        {{#comunidades}}
            <li><a href="/comunidades/{{id}}">{{nombre}}</a></li>
        {{/comunidades}}
</ul>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}