{{#partial "principal" }}
    <div class="titulo">
        <h2 class="text-center">MIS COMUNIDADES ADMINISTRABLES</h2>
        <a class="text-center text-uppercase fw-bolder warning">{{vacio}}</a>
    </div>


<div class="container-md">
    <div class="list-group">
    {{#comunidades}}
      <a href="/administrar-comunidad/{{id}}" class="list-group-item list-group-item-action active text-center" aria-current="true">
        {{nombre}}
      </a>
      {{/comunidades}}
    </div>
</div>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}