{{#partial "principal" }}
    <div class="titulo">
        MIS COMUNIDADES
    </div>
    <ul>
        {{#comunidades}}
            <li><a href="/comunidades/{{id}}">{{nombre}}</a></li>
        {{/comunidades}}
    </ul>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}