{{#partial "principal" }}
    <div class="titulo">
        MIS COMUNIDADES
    </div>

    <div class="container d-flex justify-content-center align-items-center">
        <table class="table table-bordered table-hover row border rounded-5 p-3 bg-white shadow box-area">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody>
                {{#comunidades}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td><a href="/comunidades/{{id}}">{{nombre}}</a></td>
                </tr>
                {{/comunidades}}
            </tbody>
        </table>
    </div>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}