{{#partial "principal" }}

<h1>ENTIDADES</h1>

<ul>
        {{#entidades}}
            <li><a href="entidades/{{id}}">{{razonSocial}}</a></li>
        {{/entidades}}
</ul>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}