{{#partial "principal" }}

<h1>ESTABLECIMIENTOS</h1>

<ul>
        {{#establecimientos}}
            <li><a href="../establecimientos/{{id}}">{{nombre}}</a></li>
        {{/establecimientos}}
</ul>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}