{{#partial "principal" }}

      <div class="bg-gris py-2 align-items-center text-white">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item text-white "><a href="/home" id="subrayado" class="nav-link text-white">Home</a></li>
            <li class="text-white text-decoration-none mx-2"> > </li>
            <li class="breadcrumb-item text-white "><a href="/entidades" id="subrayado" class="nav-link text-white">Entidades</a></li>
            <li class="text-white text-decoration-none mx-2"> > </li>
            <li class="breadcrumb-item text-white" aria-current="page">Establecimientos</li>
          </ol>
        </nav>
        </div>


<h2 class="text-center my-4">Establecimientos</h2>


<div class="container d-flex justify-content-center">
<div class="row">
{{#establecimientos}}
<div class="col mx-4">
<div class="card border border-secondary " style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title fw-bolder">{{nombre}}</h5>
    <h6>Servicios:</h6>
    {{#servicios}}
        <p>{{nombre}}</p>
    {{/servicios}}
    <div class="container d-flex justify-content-end">
    <a href="/establecimientos/{{id}}" class="btn btn-warning">Cargar incidente</a>
    </div>
  </div>
</div>
</div>
{{/establecimientos}}
</div>
</div>



{{/partial}}

{{> layoutSesionIniciada.html.hbs }}