{{#partial "principal" }}

<div class="full-screen-buttons">
    <a href="/usuarios"><button class="full-screen-button1">Administrar Usuarios</button></a>
</div>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}