{{#partial "principal" }}


    <div class="bg-gris py-2">
        <ul class="nav justify-content-center">
            <li class="nav-item mx-4">
                <a class="nav-link text-white" id="subrayado" href="/admin/usuarios">Ver usuarios</a>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link text-white" id="subrayado" href="/admin/rankings">Rankings</a>
            </li>

            <li class="nav-item mx-4">
                <a class="nav-link text-white" id="subrayado" href="/admin/usuarios/nuevo">Crear Usuario</a>
            </li>
        </ul>
    </div>
{{/partial}}

{{> layoutAdmin.html.hbs }}