{{#partial "principal" }}


<div class="bg-gris py-2">
    <ul class="nav justify-content-center">
        <li class="nav-item mx-4">
          <a class="nav-link text-white" href="/entidades">Abrir nuevo incidente</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link text-white" href="/comunidades">Mis comunidades</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link text-white" href="/admin-comunidades">Administrador de comunidad</a>
        </li>
      </ul>
</div>

      <div>
        <h2 class="text-center mt-5 mb-4">INCIDENTES CERCANOS</h2>
      </div>

    <div class="container  my-2">
        <div class="text-center">
            <div class="row">
                {{#incidentes}}
                <div class="col">
                  <div class="card" style="width: 16rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{servicioAsociado.nombre}}</h5>
                        <p class="card-text">{{observacion}}</p>
                        <form class="incidente_sugeridos-form" method="POST" action="/incidente/{{id}}">
                            <input type="hidden" value="{{id}}" name="incidente"></input>
                            <input type="submit" value="Cerrar Incidente" class="btn btn-amarillo"/>
                        </form>
                      </div>
                    </div>
                </div>
                {{/incidentes}}
            </div>
        </div>
        <a href="/incidente-sugerido"><p class="text-end mt-3">Ver más</p></a>
      </div>


{{/partial}}

{{> layoutSesionIniciada.html.hbs }}