{{#partial "principal" }}

<div class="full-screen-buttons">
    <a href="/entidades"><button class="full-screen-button1">Abrir Incidente</button></a>
    <a href="/comunidades"><button class="full-screen-button1">Mis Comunidades</button></a>
    <a><button class="full-screen-button2">Incidentes Sugeridos</button></a>
    <a><button class="full-screen-button2">Rankings</button></a>
</div>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}