{{#partial "principal" }}


    <div class="bg-gris py-2">
        <ul class="nav justify-content-center">
            <li class="nav-item mx-4">
                <a class="nav-link text-white" id="subrayado" href="/admin/usuarios">Ver usuarios</a>
            </li>
            <li class="nav-item mx-4">
                <a class="nav-link text-white" id="subrayado" href="/admin/rankings">Rankings</a>
            </li>

            <li class="nav-item mx-4">
                <a class="nav-link text-white" id="subrayado" href="/admin/usuarios/nuevo">Crear Usuario</a>
            </li>
        </ul>
    </div>

    <div class="py-3"
         style="background-image: url('../ciudad2.jpg'); background-size: cover; background-position: center; width: 100%;">
        <div class="container text-center mb-5">
            <h2 class="fw-bolder mb-3 py-1">ServiTrouble es tu solución ágil para incidentes de movilidad</h2>
        </div>

        <div class="container text-center my-5">
            <div class="row align-items-center my-5">
                <div class="col ">
                    <img src="../usuarios-image.png" alt="usuarios" style="width:130px;height:130px;">
                    </br>
                    <h3 class="text-warning fw-bolder my-3" style=" -webkit-text-stroke: 0.3px #000000;">Lista todos los usuarios cargados</h3>
                    </br>
                    <a href="/admin/usuarios" class="btn btn-warning my-1">Usuarios</a>
                </div>
                <div class="col">
                    <img src="../ranking-image.png" alt="rankings" style="width:130px;height:130px;">
                    </br>
                    <h3 class="text-warning fw-bolder my-3" style=" -webkit-text-stroke: 0.3px #000000;">Mira nuestros
                        rankings creados semanalmente </h3>
                    </br>
                    <a href="/admin/rankings" class="btn btn-warning my-1">Rankings</a>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layoutAdmin.html.hbs }}