{{#partial "principal" }}

    <a href="/entidades">Abrir Incidente</a>
    <a>Mis Comunidades</a>
    <a>Incidentes Sugeridos</a>
    <a>Rankings</a>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}