{{#partial "principal" }}

    <div class="mensaje-box-error">
        ERROR!!
        SU INCIDENTE NO HA SIDO CREADO CORRECTAMENTE.
        INTENTE DE NUEVO POR FAVOR.

        <a href="/home">Volver al Menú</a>
    </div>
{{/partial}}

{{> layoutSesionIniciada.html.hbs }}