{{#partial "principal" }}

<h1>INCIDENTES ABIERTOS</h1>

<ul>
        {{#incidentesAbiertos}}
            <li>
            <a>{{observacion}}</a>
            <a href="/incidente/{{id}}">Detalles</a>
            </li>
        {{/incidentesAbiertos}}
</ul>

<h1>INCIDENTES CERRADOS</h1>

<ul>
        {{#incidentesCerrados}}
            <li><a>{{observacion}}</a></li>
        {{/incidentesCerrados}}
</ul>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}