{{#partial "principal" }}

    <div class="mensaje-box-exito">

        Su incidente ha sido creado

        <a href="/home">Volver al Menú</a>
    </div>
{{/partial}}

{{> layoutSesionIniciada.html.hbs }}