{{#partial "principal" }}

    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Incidente creado exitosamente</h4>
      <p>Puedes consultar el estado y detalles del incidente en la sección correspondiente.</p>
      <hr>
      <p class="mb-0"><a href="/home" class="alert-link">Volver al Menú</a></p>
    </div>
{{/partial}}

{{> layoutSesionIniciada.html.hbs }}