{{#partial "principal" }}

    <header class="main-header">
        <div class="background-overlay">
            <div class="image-container">
                <img src="landing.jpg" style="width: 100%;" class="img-fluid" alt="estacion">
                <a href="/login"><button type="button" class="btn btn-warning">Iniciar Sesión</button></a>
            </div>
        </div>

    </header>


{{/partial}}

{{> layout.html.hbs }}