{{#partial "principal" }}

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="ciudad.jpg" class="d-block w-100" alt="carousel image">
      <div class="carousel-caption d-none d-md-block">
        <h2 style="font-weight: bold">ACCESIBILIDAD</h2>
        <p>Superamos obstáculos para una movilidad segura.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="estacion.jpg" class="d-block w-100" alt="carousel image">
      <div class="carousel-caption d-none d-md-block">
        <h2 style="font-weight: bold">TRANSPORTE PÚBLICO</h2>
        <p>Acceso fácil y cómodo al transporte público para todos.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="edificios.jpg" class="d-block w-100" alt="carousel image">
      <div class="carousel-caption d-none d-md-block">
        <h2 style="font-weight: bold">INSTALACIONES</h2>
        <p>Ayúdanos a crear espacios accesibles.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="presentacion">
    <h1 class="display-2">Bienvenido a <span style="font-weight: bold;">SERVITROUBLETRACKER</span></h1>
    <p class="display-6">Enfrentamos juntos los desafíos de movilidad en la ciudad. Nuestra plataforma permite a la comunidad informar y superar obstáculos, mejorando la accesibilidad y la calidad de vida para todos. Únete a nosotros para construir un entorno urbano más inclusivo y amigable. ¡Comencemos a hacer la diferencia hoy mismo!</p>
</div>

{{/partial}}

{{> layout.html.hbs }}