<html>

<head>
	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
   	<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
    <nav class="navbar bg-azul">
	    <div class="container-fluid">
           <a class="navbar-brand text-white" href="/">
               <img src="logo.png" alt="logo"  width="30" height="24" class="d-inline-block align-text-top">
               SERVITROUBLE
           </a>
           <div class="d-flex">
               <a href="/profile" type="button" class="perfil btn btn-outline-amarillo text-white mx-2">Mi Perfil</a>
               <a href="/cerrar-sesion" type="button" class="btn btn-outline-amarillo text-white mx-2">Cerrar Sesión</a>
                <a class="mx-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </a>
            </div>
        </div>
    </nav>



    <div class="offcanvas offcanvas-end bg-marron" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title text-white mt-3" id="offcanvasExampleLabel">MENÚ</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item bg-marron text-white"><a class="text-decoration-none text-white" href="/entidades">ABRIR INCIDENTE</a></li>
                    <li class="list-group-item bg-marron text-white"><a class="text-decoration-none text-white" href="/comunidades">MIS COMUNIDADES</a></li>
                    <li class="list-group-item bg-marron text-white"><a class="text-decoration-none text-white" href="/admin-comunidades">ADMINISTRADOR DE COMUNIDAD</a></li>
                    <li class="list-group-item bg-marron text-white">
                        <a class="dropdown-toggle text-decoration-none text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             RANKING DE ENTIDADES
                        </a>
                        <ul class="dropdown-menu bg-marron">
                             {{#criterios}}
                                 <li><a href="/rankings/{{id}}" class="dropdown-item text-white text-decoration-none bg-marron">{{nombre_criterio}}</a></li>
                             {{/criterios}}
                          </ul>
                    </li>
                  </ul>
            </div>
          </div>

	<main>

     {{#block "principal" }}
     {{/block}}

	</main>
	<footer class="text-center text-white bg-azul">
		<div class="text-center "> © {{anio}} Copyright</div>
	</footer>
</body>

</html>
