<html>

<head>
	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<!-- <title>{{Título de la página}}</title> -->
   	<link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
   	<script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<nav class="navbar">
	    <ul>
           <li><a href="/home"><img src="Logo.jpg" alt="logo" class="logo"></a></li>
           <li><a href="/" class="perfil">Mi Perfil</a></li>
           <li><a href="/cerrar-sesion" class="login-button">Cerrar Sesion</a></li>
	    </ul>
	</nav>
	<main>

     {{#block "principal" }}
     {{/block}}

	</main>
	<footer>
		Copyright {{anio}}
	</footer>
</body>

</html>
