<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<nav class="navbar">
	    <ul>
           <li> Logo </li>
           <li> Nombre Pagina </li>
           <li><a href="/login" class="login-button">Iniciar Sesion</a></li>
	    </ul>
	</nav>
	<main>

     {{#block "principal" }}
     {{/block}}

	</main>
	<footer>
		Copyright {{anio}}
	</footer>
</body>

</html>
