{{#partial "principal" }}
    <div class="cont-form">
        <form method="POST" class="row border rounded-5 p-3 bg-white shadow box-area">
           <div class="mb-3">
               <label>Nombre</label>
               <input type="text" class="form-control" name="nombre">
           </div>
           <div class="mb-3">
               <label>Contraseña</label>
               <input type="password" class="form-control" name="contrasenia">
           </div>
           <input type="submit" class="btn btn-secondary">
        </form>
    </div>

{{/partial}}

{{> layout.html.hbs }}