{{#partial "principal" }}

    Rankings por:

    <ul>
            <li><a href="/rankings/cantidad-reportes">Cantidad de Reportes</a></li>
            <li><a href="/rankings/promedio-cierres">Promedio de Cierres</a></li>

    </ul>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}