{{#partial "principal" }}

    <ul>
        {{#entidades}}
            <li><a>
                {{razonSocial}}

            </a></li>
        {{/entidades}}

    </ul>



{{/partial}}

{{> layoutSesionIniciada.html.hbs }}