{{#partial "principal" }}

    Rankings por:

    <a href="/rankings/cantidad-reportes"><button class="button-rankings-1"> Cantidad de incidentes reportados</button></a>
    <a href="/rankings/promedio-cierres"><button class="button-rankings-2"> Promedio de Cierres de incidentes</button></a>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}