{{#partial "principal" }}

    <div class="titulo">
        Ranking semanal por {{nombre}}:
    </div>
    <table style="margin: 20px auto;
        padding: 10px;
        text-align: center;
        border: 1px solid #ccc;">
        <thead>
        <tr>
            <th>Id</th>
            <th>Razon social</th>
        </tr>
        </thead>
        <tbody>
        {{#entidadesOrdenadas}}
            <tr>
                <td>{{id}}</td>
                <td>{{razonSocial}}</td>
            </tr>
        {{/entidadesOrdenadas}}
        </tbody>
    </table>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}