{{#partial "principal"}}

    <div class="titulo">
        Ranking semanal por {{nombre}}:
    </div>
    <table class="tabla">
        <tr class="cabecera">
            <th>Id</th>
            <th>Razon social</th>
        </tr>
        <tbody>
        {{#entidadesOrdenadas}}
            <tr>
                <td>{{id}}</td>
                <td>{{razonSocial}}</td>
            </tr>
        {{/entidadesOrdenadas}}
        </tbody>
    </table>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}