{{#partial "principal" }}

<h1>CARGAR INCIDENTE</h1>

<form method="POST">

    <label for="opciones">Servicio:</label>
    <select id="servicio" name="servicio">
        {{#servicios}}
            <option value={{id}}>{{nombre}}</option>
        {{/servicios}}
    </select>
    <label>Observacion</label>
    <input type="textarea" name="observacion" maxlength="50">
    <input type="submit" value="Abrir Incidente">
</form>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}