{{#partial "principal" }}

<form method="POST">

    <label for="opciones">Servicio:</label>
    <select id="opciones" name="opciones">
        {{#servicios}}
            <option value="">{{nombre}}</option>
        {{/servicios}}
    </select>
    <label>Observacion</label>
    <input type="textarea" name="observacion" maxlength="50">
    <input type="submit" value="Abrir Incidente">
</form>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}