{{#partial "principal" }}

<h1>USUARIOS</h1>

<h3>Crear nuevo usuario:</h3>
    <div>
        <form method="POST">
           <div class=>
               <label>Nombre</label>
               <input type="text"  name="nombre">
           </div>
           <div class=>
               <label>Contraseña</label>
               <input type="password" name="contrasenia">
           </div>
           <div class=>
                <label>Contacto</label>
                <input type="text"  name="contacto">
           </div>
           <input type="submit">
        </form>
    </div>
    El usuario ya existe


<h3>Lista de usuarios</h3>
<ul>
        {{#usuarios}}
            <li><a href="/usuarios/{{id}}">{{usuario}}</a></li>
        {{/usuarios}}
</ul>

{{/partial}}

{{> layoutSesionIniciada.html.hbs }}